.searchBar {
  width: 50%;
  margin: auto auto;
  display: flex;
  flex-direction: row;
  text-align: center;
}

.parameter-label {
  text-align: left;
  font-weight: 400;
  font-size: 12px;
}

.searchInput {
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  font-size: 14px;
  margin-bottom: 0;
  background-color: #1f2128;
  color: #fff;
}

.button {
  width: 25%;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  font-size: 14px;
  margin-bottom: 0;
  background-color: #6c5dd3;
  color: #fff;
  cursor: pointer;
  border-radius: 5px;
}

.button:hover {
  background-color: #381794;
  color: #ccc;
}
